@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
html, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
}

h1,
p {
  font-family: "Inter", "Helvetica Neue", sans-serif;
}

.help {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  font-weight: 700;
  background: #454545;
  color: #fff;
  padding: 14px 24px;
  border-radius: 2rem;
  vertical-align: middle;
}
.help svg {
  margin-right: 10px;
}

.header {
  width: 100%;
  display: flex;
}
.header .hero {
  flex-grow: 1;
  background: #0e3639;
  padding: 1rem;
}
.header .hero .logo {
  width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0.3rem 0.6rem 1rem;
}
.header .hero .banner {
  height: auto;
  min-height: 80px;
  display: flex;
  align-items: center;
  margin: 1rem;
  margin-left: -0.6rem;
}
.header .hero .stroke {
  height: 0;
  width: 80px;
  border: 2px solid #f0cc00;
  transform: rotate(103deg);
}
.header .hero h1 {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 40px;
  margin-left: -0.5rem;
}
.header .hero .info__text {
  color: #03c7e8;
  white-space: wrap;
}
.header .graphics {
  width: 100px;
  height: auto;
  background: #0e3639;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
  border: none;
}
@media (min-width: 768px) {
  .header .hero .logo {
    width: 70px;
  }
  .header .hero .banner {
    margin-bottom: 3rem;
  }
  .header .hero .stroke {
    width: 90px;
    border: 3px solid #f0cc00;
  }
  .header .hero h1 {
    font-size: 3.75rem;
    line-height: 1;
  }
}
@media (min-width: 995px) {
  .header .hero .logo {
    margin: 1rem 1rem 1.5rem 2rem;
  }
  .header .hero .banner {
    justify-content: center;
  }
  .header .hero .stroke {
    width: 100px;
  }
  .header .hero h1 {
    flex-direction: row;
  }
  .header .hero .info__text {
    margin-left: 1rem;
  }
}
@media (min-width: 1200px) {
  .header .hero {
    height: 100%;
  }
  .header .hero .banner {
    flex-grow: 1;
    margin-top: 6.5rem;
  }
  .header .hero .stroke {
    width: 200px;
  }
  .header .hero h1 {
    font-size: 4.875rem;
    flex-direction: column;
    margin-left: -3rem;
  }
  .header .hero .info__text {
    margin-left: 0;
  }
}

@media (min-width: 1200px) {
  .header .info__text span {
    display: block;
  }
}
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.app .ribbon {
  width: 100%;
  height: 4px;
  background-image: linear-gradient(to right, #ab0d02 20%, #d23228 0);
}
.app .app__container {
  flex-grow: 1;
}
.app .app__content {
  width: 100%;
  max-width: 464px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .app .ribbon {
    height: 8px;
    background-image: linear-gradient(102.02deg, #921108, #921108 10%, #d23228 0, #d23228 90%, #002121 0, #002121);
  }
  .app .app__content {
    margin-top: 1rem;
  }
}
@media (min-width: 768px) {
  .app .ribbon {
    height: 8px;
    background-image: linear-gradient(102.02deg, #921108 10%, #d23228 0, #d23228 65%, #002121 0, #002121 75%, #03c7e8 0, #03c7e8 0);
  }
}
@media (min-width: 1200px) {
  .app .ribbon {
    height: 8px;
    background-image: linear-gradient(102.02deg, #921108 10%, #d23228 0, #d23228 45%, #002121 0, #002121 55%, #03c7e8 0, #03c7e8 75%, #9cd2e6 0);
  }
  .app .app__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .app .app__content {
    margin-top: 4rem;
  }
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #eae6e5;
}
.navbar .reset,
.navbar .navbar__right {
  display: flex;
  align-items: center;
}
.navbar .link {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 42px;
  padding: 0.3rem 1rem;
  color: #454545;
  text-decoration: none;
  margin-bottom: -2px;
}
.navbar .link:hover {
  background: #eae6e5;
}
.navbar .link.active {
  border-bottom: 2px solid #0e3639;
  background: transparent;
}
.navbar .reset {
  display: inline-block;
  justify-content: center;
}
.navbar .reset .icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.8rem;
}

.content {
  margin-top: 2rem;
  padding: 0 10px;
}
.content .header h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.content .header p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}
.content div:not(.buttons) {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 2rem;
  color: #454545;
}
.content div:not(.buttons) input:not(.checkbox) {
  width: 100%;
  outline: 0;
  padding: 10px;
  color: #454545;
}
.content div:not(.buttons) input.empty {
  border: 1px solid #ab0d02 !important;
}
.content div:not(.buttons) .label {
  position: absolute;
  left: 10px;
  top: 7px;
  pointer-events: none;
}
.content div:not(.buttons) input:not(.checkbox):focus {
  border: 2px solid black;
}
.content div:not(.buttons) input:not(.checkbox):focus ~ .label {
  transform: translate(-12px, -22px) scale(0.8);
  background: #fff;
  padding: 0 8px;
}
.content div:not(.buttons) input:not(:-moz-placeholder-shown) ~ .label {
  transform: translate(-12px, -22px) scale(0.8);
  background: #fff;
  padding: 0 8px;
}
.content div:not(.buttons) input:not(:placeholder-shown) ~ .label {
  transform: translate(-12px, -22px) scale(0.8);
  background: #fff;
  padding: 0 8px;
}
.content div:not(.buttons) span {
  display: inline-block;
  margin-top: 2px;
  height: 0;
  overflow: hidden;
  font-size: 0.8rem;
  color: #454545;
  transition: height ease 0.2s;
}
.content div:not(.buttons) span.error {
  color: #ab0d02;
}
.content div:not(.buttons) .show {
  height: auto !important;
  overflow: visible !important;
}
.content .visible {
  height: 32px;
  width: 32px;
  position: absolute;
  top: 4px;
  right: 10px;
  background: transparent;
  color: #454545;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.content .visible:hover {
  background: #454545;
  color: #fff;
  border: 1px solid #454545;
}
.content .visible:hover img {
  filter: invert(1);
  background-color: transparent;
}
.content .visible:focus {
  border: 2px solid #454545;
  color: #454545;
  background: #fff;
}
.content .visible:focus:hover img {
  filter: invert(0);
  background-color: transparent;
}
.content .checkbox-container {
  flex-direction: row !important;
  align-items: center;
  margin-top: -8px;
}
.content .checkbox-container input {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background: #fff;
  border: 2px solid #00262b;
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .checkbox-container input:hover {
  outline: 3px solid rgba(0, 0, 0, 0.185);
}
.content .checkbox-container input::before {
  display: none;
  content: "";
  border: 2px solid #00262b;
  height: 1.7em;
  width: 1.7em;
  position: absolute;
  left: -5px;
  top: -5px;
}
.content .checkbox-container input::after {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  color: #fff;
  display: none;
}
.content .checkbox-container input[type=checkbox]:checked {
  background: #00262b;
}
.content .checkbox-container input[type=checkbox]:checked::after {
  display: block;
}
.content .checkbox-container input[type=checkbox]:focus::before {
  display: block;
}
.content .checkbox-container .checkbox-label {
  color: #454545;
  font-size: 0.75rem;
  line-height: 1.25rem;
}
.content p {
  color: #454545;
  font-size: 0.75rem;
  line-height: 1.1rem;
  margin-bottom: 1.4rem;
}
.content button {
  background: #d23228;
  border: 1px solid #d23228;
  color: #fff;
  font-size: 1.12rem;
  font-size: 500;
  padding: 10px 20px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  margin-bottom: 3rem;
}
.content button:hover {
  background: #921108;
  border-color: #921108;
}
.content .buttons button {
  margin-right: 1rem;
  margin-bottom: 2rem;
}
.content .buttons a {
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 500;
  color: #454545;
}
.content .buttons a:hover {
  text-decoration: underline;
}
.content .options h3 {
  margin-bottom: 1.2rem;
}
.content .options .other {
  display: flex;
  align-items: center;
  margin-bottom: 1.7rem;
  color: #454545;
  text-decoration: none;
}
.content .options .other svg {
  margin-right: 5px;
  font-size: 1.2rem;
}
.content .options .other span {
  font-size: 0.995rem;
  align-self: start;
}
.content .options .socials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.content .options .socials a {
  height: 36px;
  line-height: 36px;
  font-size: 1rem;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: #fff;
}
.content .options img {
  width: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
}
.content .options .apple {
  background: #000;
}
.content .options .facebook {
  background: #1877f2;
}
.content .options .google {
  background: #4285f4;
}
.content .options .google img {
  width: 34px;
}
.content .options .microsoft {
  background: #2f2f2f;
}
.content .additional {
  margin-top: 1.5rem;
  font-size: 0.975rem;
}

.dropdown .toggle {
  height: 32px;
  width: 32px;
  position: absolute;
  top: 4px;
  right: 10px;
  background: transparent;
  color: #454545;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.dropdown .toggle:hover {
  background: #454545;
  color: #fff;
  border: 1px solid #454545;
}
.dropdown .toggle:hover img {
  filter: invert(1);
}
.dropdown .toggle:active {
  background: #fff;
  color: #454545;
  border: 1px solid #454545;
}
.dropdown .toggle:active img {
  filter: invert(0);
}
.dropdown .dropdown-list {
  width: 100%;
  position: absolute !important;
  top: 115%;
  max-height: 240px;
  overflow: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1490196078), 0 2px 8px rgba(0, 0, 0, 0.1490196078);
  background: #fff;
  border-radius: 4px;
  z-index: 20;
}
.dropdown .select-btn {
  margin: 0;
  border: 0;
  text-align: left;
  background: #fff;
  color: #454545;
  font-weight: 400;
}
.dropdown .select-btn:hover {
  background-color: #f2f0ef;
  color: #16181b;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */