.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .ribbon {
        width: 100%;
        height: 4px;
        // background: black;
        background-image: linear-gradient(to right, $danger 20%, $brand 0);
    }

    .app__container {
        flex-grow: 1;
    }


    .app__content {
        width: 100%;
        max-width: 464px;
        margin: 0 auto;
    }


    @include md-screen {
        .ribbon {
            height: 8px;
            background-image: linear-gradient(102.02deg,#921108,#921108 10%,#d23228 0,#d23228 90%,#002121 0,#002121);
        }

        .app__content {
            margin-top: 1rem;
        }
    }

    @include md-screen {
        .ribbon {
            height: 8px;
            background-image: linear-gradient(102.02deg,#921108 10%,#d23228 0,#d23228 65%,#002121 0,#002121 75%,#03c7e8 0,#03c7e8 0);
        }
    }
    
    @include xl-screen {
        .ribbon {
            height: 8px;
            background-image: linear-gradient(102.02deg,#921108 10%,#d23228 0,#d23228 45%,#002121 0,#002121 55%,#03c7e8 0,#03c7e8 75%,#9cd2e6 0);
        }
        .app__container {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .app__content {
            margin-top: 4rem;
        }
    }

}