.dropdown {
    .toggle {
        height: 32px;
        width: 32px;
        position: absolute;
        top: 4px;
        right: 10px;
        // bottom: 0;
        background: transparent;
        color: $text;
        font-size: 1.6rem;
        font-weight: 400;
        padding: 0;
        margin: 0;
        border-radius: 50%;
        border: 1px solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            background: $text;
            color: #fff;
            border: 1px solid $text;

            img {
                filter: invert(1);
            }
        }
        &:active {
            background: #fff;
            color: $text;
            border: 1px solid $text;

            img {
                filter: invert(0);
            }
        }
    }

    .dropdown-list {
        width: 100%;
        position: absolute !important;
        top: 115%;
        // transform: translateY(5px);
        max-height: 240px;
        overflow: auto;
        box-shadow: 0 2px 4px #00000026, 0 2px 8px #00000026;
        background: #fff;
        border-radius: 4px;
        z-index: 20;
    }

    .select-btn {
        margin: 0;
        border: 0;
        text-align: left;
        background: #fff;
        color: $text;
        font-weight: 400;

        &:hover {
            background-color: #f2f0ef;
            color: #16181b;
            text-decoration: none;
        }
    }
}