@mixin sm-screen {
    @media (min-width: 512px) {
        @content;
    }
}
@mixin md-screen {
    @media (min-width: 768px) {
        @content;
    }
}
@mixin lg-screen {
    @media (min-width: 995px) {
        @content;
    }
}
@mixin xl-screen {
    @media (min-width: 1200px) {
        @content;
    }
}