$info: #03c7e8;
$warning: #f0cc00;
$success: #0d7d4d;
$danger: #ab0d02;
$brand: #d23228;
$blue: #00688d;
$green: #0d7d4d;
$dark: #00262b;
$text: #454545;
$fb-blue: #1877f2;
$g-blue: #4285f4;
$m-black: #2f2f2f;
$disabled: #707070;
$error: #ab0d02;